{% extends ':layouts:base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block main_content %}
	

{% if cartitems is defined %}
	{% for cartitem in cartitems %}
		<div>
			<img src=" {{ asset('img/Couvertures_thumbs/' ~ cartitem.book.cover) }} " alt="{{ cartitem.book.title }}" />
			<p>titre : {{ cartitem.book.title }} </p>

			<a href="{{ path('bdloc_app_cart_sortcartitem', { 'isbn': cartitem.book.isbn }) }}" title="Retirer du panier le livre {{ cartitem.book.title }}">retirer du panier</a>
		</div>
	{% endfor %}
{% endif %}

{% endblock %}