{% extends "layouts/base.html.twig" %}

{# titre de la page dans head #}
{% block title %} Mon profil | Bdloc {% endblock %}   


{# contenu du body #}

{% block main_content %}
<div class="container profil">

    <div class="boutons">
        <a href="{{ path('bdloc_app_profil_editprofil') }}" class="btnEditer">Editer</a>
        <a href="" class="btnDesabonner">Me désabonner</a>
    </div>
    <h1>Mon compte</h1>

    

<h2 class="titreCompte">Mes infos personnelles</h2>
    <h3>{{ user.firstname }} {{ user.name }}</h3>
    
    <p><strong>E-Mail :</strong> {{ user.email }}</p>
    <p><strong>Adresse :</strong> {{ user.adress }} - {{ user.postalCode }} {{ user.city }}</p>
    <p><strong>Téléphone :</strong>{{ user.tel }}</p>
    <a href="" class="btnCompte">Changer mon mot de passe</a>

<div class="clearfix"></div>



<h2 class="titreRelais">Mon point relais</h2>

    {% if user.mydelivery %}
        <h3>{{ user.mydelivery.name }}</h3>
        <p><strong>Adress :</strong> {{ user.mydelivery.address }} - {{ user.mydelivery.postalCode }} {{ user.mydelivery.city }}</p>

        <a href="{{ path('bdloc_app_subscribe_registerstep2') }}" class="btnCompte">Modifier mon point relais</a>
    {% else %}
        <p>Vous n'avez pas encore choisi de point relais.</p>

        <a href="{{ path('bdloc_app_subscribe_registerstep2') }}" class="btnCompte">Ajouter mon point relais</a>
    {% endif %}

    
<div class="clearfix"></div>

<h2 class="titrePaiement">Paiement</h2>

<a href="" class="btnCompte">Modifier mes informations de paiement</a>

<div class="clearfix"></div>
<h2 class="titreLocation">Mon historique de location</h2>

<table class="" border='1' width="100%" cellpadding="1">
  <tr>
    <th class="">Bd</th>
    <th class="">Titre</th>
    <th class="">Série</th>
    <th class="">Tome</th>
    <th class="">Date location</th>
  </tr>
    {% for cart in carts %}
    {% for cartitem in cart.cartitem %}
    <tr>
        <td class=""><img src=" {{ asset('img/Couvertures_cart_thumbs/' ~ cartitem.book.cover) }} " alt="{{ cartitem.book.title }}" /></td>
        <td class=""><p>{{ cartitem.book.title }}</p></td>
        <td class=""><p>{{ cartitem.book.serie.title }}</p></td>
        <td class=""><p>{{ cartitem.book.num }}</p></td>
        <td class=""><p>{{ cartitem.dateCreated.date }}</p></td>
    </tr>
    {% endfor %}
    {% endfor %}


</table>

<div class="clearfix"></div>

<h2 class="titreAmendes">Mes amendes</h2>








</div>


{% endblock %}



{% block javascripts %}



{% endblock %}

    
