{% extends "layouts/base.html.twig" %}

{# titre de la page dans head #}
{% block title %} Mon profil | Bdloc {% endblock %}   


{# contenu du body #}

{% block main_content %}
<div class="container">
    <h1>Mon compte</h1>

    <a href="{{ path('bdloc_app_profil_editprofil') }}" class="btn btn-primary">Editer</a>


<h2>Infos personelles</h2>
    <h3>{{ user.firstname }} {{ user.name }}</h3>
    
    <p><strong>Mail :</strong> {{ user.email }}</p>
    <p><strong>Adress :</strong> {{ user.adress }} - {{ user.postalCode }} {{ user.city }}</p>
    <p><strong>Telephone :</strong>{{ user.tel }}</p>

    <a href="" class="btn btn-primary">Changer mon mot de passe</a>


<h2>Mon point relais</h2>

    <h3>{{ user.mydelivery.name }}</h3>
    <p><strong>Adress :</strong> {{ user.mydelivery.address }} - {{ user.mydelivery.postalCode }} {{ user.mydelivery.city }}</p>
    

    <a href="{{ path('bdloc_app_subscribe_registerstep2') }}" class="btn btn-primary">Modifier mon point relais</a>



<h2>Paiement</h2>

<a href="" class="btn btn-primary">Modifier mes informations de paiement</a>


<h2>Mon historique de location</h2>

<table class="" border='1' width="100%" cellpadding="1">
  <tr>
    <th class="">Bd</th>
    <th class="">Titre</th>
    <th class="">Série</th>
    <th class="">Tome</th>
    <th class="">Date location</th>
  </tr>
  <tr>
    <td class=""><img src=" {{ asset('img/Couvertures_thumbs/' ~ cartitem.book.cover) }} " alt="{{ cartitem.book.title }}" width="50" height='50' /></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
  </tr>

</table>



<h2>Mes amendes</h2>






    <a href="" class="btn btn-danger">Me désabonner</a>

</div>


{% endblock %}



{% block javascripts %}



{% endblock %}

    
