<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bdloc !{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("css/reset.css" )}}" type="text/css">
            <link rel="stylesheet" href="{{ asset("css/bootstrap.css" )}}" type="text/css">
            <link rel="stylesheet" href="{{ asset("css/bootstrap-theme.css" )}}" type="text/css">
            <link rel="stylesheet" href="{{ asset("css/style.css" )}}" type="text/css">
            <link rel="stylesheet" href="{{ asset("css/infoBulle.css" )}}" type="text/css">

            <link href='http://fonts.googleapis.com/css?family=Oswald:700,300|Open+Sans' rel='stylesheet' type='text/css'>

            <link rel="stylesheet" href="{{ asset("fonts/glyphicons-halflings-regular.woff" )}}" type="text/css">

        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" type="text/css">

    </head>
   
    <body>
        
        <header id="header">
            <div>
                <div class="col-md-1 hidden-xs hidden-sm"></div>   
                
                <div class="col-md-3 col-xs-12 col-sm-3">
                     <div id="logo">
                        <a href="{{ path('bdloc_app_default_home') }}" title="Accueil"><img src="{{ asset('img/Logo_grd.png') }}" alt="logo Bdloc"></a>
                     </div>
                </div>  

                <div class="col-md-4 col-sm-4">
                    {% include ':layouts:nav.html.twig' %} 
                </div>   


				<div class="col-md-3 col-sm-4 nav-login">

					{% if app.user %}
                        <a href="{{ path('bdloc_app_profil_account') }}">Bonjour  <strong>{{ app.user.username }}</strong></a>

						<a id="deconnexion" href="{{ path('logout') }}" title="Déconnexion">Logout</a>

					{% else %}
						<a id="connexion" href="{{ path('bdloc_app_user_login')}}" title="Connexion">Se connecter</a>
					{% endif %}
                <div class="col-md-1 hidden-xs hidden-sm"></div>
                </div>                
            </div>
        </header>


        <main>
        {% block main_content %}
            


           
        {% endblock %}

        </main>
    <div class="clearfix"></div>

        <footer id="footer">
            <div id="nav">
                {% include ':layouts:navfooter.html.twig' %}
            </div>
        
            <div id="petitlogo">
                <img src="{{ asset('img/logo_pt.png') }}" alt="logo_bdloc_petit">
            </div>
        
            <div id="copyright">
                <p>©{{ "now"|date("Y") }} BDLOCJUGANAS</p>
            </div> 
        </footer> 



        {% block common_javascripts %}


            <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

        {% endblock %}

        {% block javascripts %}

            
        {% endblock %}

    </body>
</html>
