{% extends ':layouts:base.html.twig' %}

{% block title %}Bdloc | Accueil {% endblock %}

{% block main_content %} 






<nav>
	
	<div id="filter_cats">
		
		<form id="form_filter_cats" method="POST" action="{{ path('bdloc_app_catalogue_catalogueall') }}" page="{{ pagination.page }}">
			{% for categorie in categories %}
				<div class="form-group">
					<input type="checkbox" name="category[]" value="{{ categorie.style }}">
					<label>{{ categorie.style }}</label>
				</div>
			{% endfor %}
			
			<div class="form-group">
				<input type="submit" value="filtrer">
			</div>
		</form>
		
	</div>


	<div id="filter_pages">
		
		<form id="form_filter_pages" method="POST" action="{{ path('bdloc_app_catalogue_catalogueall') }}" page="{{ pagination.page }}">
			<div class="form-group">
				<select name="order_pages">
					<option value="ASC">livre alphabetique</option>
					<option value="DESC">livre alphabetique inversée</option>
				</select>
			</div>
			<div class="form-group">
				<select name="limit_pages">
					{% for i in range(5, 50, 5) %}
						<option value="{{ i }}">afficher {{ i }} résultats</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group">
				<input type="submit" value="filtrer">
			</div>
		</form>


		{% if pagination.page > 1 %}
			<a href=" {{ path('bdloc_app_catalogue_catalogueall', { 'page': (pagination.page-1) }) }} ">page précédente</a>
		{% endif %}
		
		{% if pagination.page < pagination.pages %}
			<a href=" {{ path('bdloc_app_catalogue_catalogueall', { 'page': (pagination.page+1) }) }} ">page suivante</a>
		{% endif %}
		


		{# affiche page 1 et dernière page #}
		<a href=" {{ path('bdloc_app_catalogue_catalogueall', { 'page': 1 }) }} ">page 1</a>
		<a href=" {{ path('bdloc_app_catalogue_catalogueall', { 'page': pagination.pages }) }} ">page {{ pagination.pages }}</a>
		
		{# affiche ex 11 / 18 à voir demain #}
		<p># {{ (pagination.page-1)*pagination.limit +1 }} à </p>

		{% if pagination.page == pagination.pages %}
			<p>{{ pagination.total }}</p>
		{% else %}
			<p>{{ (pagination.page*pagination.limit) }}</p>
		{% endif %}

		<p>sur {{ pagination.total }} BD</p>

	</div>
	
</nav>


<div id="popup"></div>

<div id="catalogue">

{% for book in books %}
	

	<div>
		<a id="{{ book.isbn }}" class="link_detail_book" title="{{ book.title }}" href=" {{ path('bdloc_app_catalogue_viewbook', { 'isbn': book.isbn }) }} ">
			<img src=" {{ asset('img/Couvertures_thumbs/' ~ book.cover) }} " alt="{{ book.title }}" />
		</a>
		
		<p> {{ book.title }} </p>
		
		{# vérifie si il y a auteur a chaque fois #}
		{% if book.scenarist %}
			<p>scénario : {{ book.scenarist.lastName }} </p>
		{% endif %}

		{% if book.illustrator %}
			<p>dessin : {{ book.illustrator.lastName }} </p>
		{% endif %}

		{% if book.colorist %}
			<p>couleurs : {{ book.colorist.lastName }} </p>
		{% endif %}

		

		<a class="link_detail_book" title="{{ book.title }}" href=" {{ path('bdloc_app_catalogue_viewbook', { 'isbn': book.isbn }) }}">plus de détails</a>
		<a href="">ajouter au panier</a>
	</div>
{% endfor %}

</div>



{% endblock %}


{% block javascripts %}
	 <script type="text/javascript" src="{{ asset('js/catalogue.js') }}"></script>
{% endblock %}
