{% extends ':layouts:base.html.twig' %}

{% block title %}Bdloc | Accueil {% endblock %}

{% block main_content %} 






<div class="container">


<nav>
	<div id="filtres">
		<h1 id="titre"></h1>
		<div id="filter_pages">
			
			<form method="POST" id="form_filter_pages" action="{{ path('bdloc_app_catalogue_catalogueall') }}" page="{{ pagination.page }}">

				
				{% for genre in genres %}
					

					<div class="genres form-group">
						<input type="checkbox" name="genres[]" value="{{ genre.style }}"
							{% for page_genre in pagination.genres %}
								{% if page_genre == genre.style %}checked{% endif %}
							{% endfor %}>
						<label for="genres[]">{{ genre.style }}</label>
					</div>
				{% endfor %}
				
			<div id="selecteur">
				<div class="form-group clearfix">
					<select id="choice" name="choice">
						<option value="title" {% if pagination.choice == 'title' %}selected{% endif %}>
							titre de livre</option>
						<option value="serie" {% if pagination.choice == 'serie' %}selected{% endif %}>
							titre de série</option>
						<option value="publisher" {% if pagination.choice == 'publisher' %}selected{% endif %}>
							éditeur</option>
					</select>
				</div>
				<div class="form-group">
					<select id="availability" name="availability">
					<option value="all" {% if pagination.availability == 'all' %}selected{% endif %}>
						tous</option>
					<option value="available" {% if pagination.availability == 'available' %}selected{% endif %}>
						disponible</option>
					<option value="noneavailable" {% if pagination.availability == 'noneavailable' %}selected{% endif %}>
						non disponible</option>
					</select>
				</div>
				<div class="form-group">
					<select id="order" name="order">
						<option value="ASC" {% if pagination.order == 'ASC' %}selected{% endif %}>
							alphabetique</option>
						<option value="DESC" {% if pagination.order == 'DESC' %}selected{% endif %}>
							alphabetique inversée</option>
					</select>
				</div>
				<div class="form-group">
					<select id="limit" name="limit">
						{% for i in range(5, 50, 5) %}
							<option value="{{ i }}" {% if pagination.limit == i %}selected{% endif %}>
								afficher {{ i }} résultats</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group">
					<input type="submit" value="filtrer">
				</div>
			</div>
			</form>

			<div class="clearfix">
			{% set params = {'limit': pagination.limit, 'choice': pagination.choice, 'availability': pagination.availability, 'order': pagination.order } %}
			{% if genres %}
				{% set params = params|merge({ 'genres': pagination.url_genres }) %}
			{% endif %}


			{% if pagination.page > 1 %}
				{% set url = { 'page': pagination.page-1 }|merge(params) %}
				<a href="{{ path('bdloc_app_catalogue_catalogueall', url) }}" title="Page précédente">page précédente</a>
			{% endif %}
			
			{% if pagination.page < pagination.pages %}
				{% set url = { 'page': pagination.page+1 }|merge(params) %}
				<a href="{{ path('bdloc_app_catalogue_catalogueall', url) }}" title="Page suivante">page suivante</a>
			{% endif %}
			

			
			{# affiche page 1 et dernière page si il y a #}
			{% if pagination.pages > 1 %}
				{% set url = { 'page': 1 }|merge(params) %}
				<a href="{{ path('bdloc_app_catalogue_catalogueall', url) }}" title="Page 1">page 1</a>
				
				{% set url = { 'page': pagination.pages }|merge(params) %}
				<a href="{{ path('bdloc_app_catalogue_catalogueall', url) }}" title="Page {{ pagination.pages }}">page {{ pagination.pages }}</a>
			{% endif %}
			
			{# affiche ex 11 / 18 à voir demain #}
			{% set val = ("# " ~ ((pagination.page-1)*pagination.limit+1) ~ " à ") %}
			
			{% if pagination.page == pagination.pages %}
				{% set val = val ~ pagination.total %}
			{% else %}
				{% set val = val ~ (pagination.page*pagination.limit) %}
			{% endif %}
			
			{% set val = val ~ " sur " ~ pagination.total ~ " BD" %}


			<p>{{ val }}</p>
			</div>

		</div>
	</div>
		
</nav>

<div id="popup">
	<div id="detail_popup"></div>
	<div class="clearfix"></div>
</div>


<div id="catalogue">
{% for book in books %}
		
		<div id="{{ book.id }}" class="view view-fifth">


		<img src=" {{ asset('img/Couvertures_thumbs/' ~ book.cover) }} " alt="{{ book.title }}" />

		<div class="mask">
			<a class="link_detail_book" title="Détail du livre {{ book.title }}" href=" {{ path('bdloc_app_catalogue_viewbook', { 'id': book.id }) }}">
				<h2 class="title">{{ book.title }} </h2>
				<p class="serie">{{ book.serie.title }} </p>
				</br>
				<p class="tome">- Tome {{ book.num }} -</p>			

					<div id="btnAjouter">
						<a id="triangle" class="link_detail_book" title="Détail du livre {{ book.title }}" href=" {{ path('bdloc_app_catalogue_viewbook', { 'id': book.id }) }}">
						<div ></div>
						</a>

						{% if app.user %}
							{% set url = path('bdloc_app_cart_addcartitem', {'id': book.id }) %}
						{% else %}
							{% set url = "" %}
						{% endif %}	
						
						<p class="stock">{{ book.stock }} en stock</p>

					<a class="link_cart_book" href="{{ url }}" title="Ajouter au panier le livre {{ book.title }}">ajouter au panier</a>
				</div>

			</div>

		</a>		
	</div>
{% endfor %}
</div>







{% endblock %}


{% block javascripts %}
	 <script type="text/javascript" src="{{ asset('js/catalogue.js') }}"></script>
{% endblock %}