

<div id="infoBulle">
	<h1>{{ pointRelais.name }}</h1>
	<p>
	<p>{{ pointRelais.address }}</p> 
	<p>{{ pointRelais.postalCode }} {{ pointRelais.city }}</p>
	</p>
	<p class="horaires">Ouvert du lundi au samedi <br>
	<strong>10:00 am - 19:30 pm</strong>
	 </p>
	 <br>
	 <form action="" method="post">
	 	<input type="text" value="{{ pointRelais.id }}" name="pointRelaisId">
	 	<input type="submit" class="btn btn-default" value="Choisir ce point relais">
	 </form>
</div>