{% extends "layouts/base.html.twig" %}

{# titre de la page dans head #}
{% block title %} Abonnement | Bdloc {% endblock %}   


{# contenu du body #}

{% block main_content %}
    
<div id="abonnement">
    <div class="steps">
        <ul class="stepsRegister">
        	<li class="tab on tab1">1. Infos personnelles</li>
        	<li class="tab off tab2">2. Choisir un point relais</li>
        	<li class="tab off tab3">3. Paiement</li>
        </ul>
    </div>

<div class="clearfix"> </div>
 {{ form_start(registerForm) }}
    <div id="formRegister">
        <div class="champs">
       
            {{ form_row(registerForm.firstname,  { 'attr':{'placeholder': 'Votre nom', 'class': 'champ_class'}}) }}
        </div>

        <div class="champs">
        
            {{ form_row(registerForm.name,  { 'attr': {'placeholder': 'Votre prénom', 'class': 'champ_class'}}) }}
        </div>

        <div class="champs">
            {{ form_row(registerForm.email,  { 'attr': {'placeholder': 'Votre email', 'class': 'champ_class'}}) }} 
        </div> 
        
        <div class="champs">
            {{ form_row(registerForm.tel,  { 'attr': {'placeholder': 'Votre téléphone', 'class': 'champ_class'}}) }} 
        </div>

        <div class="champs">
            {{ form_row(registerForm.name,  { 'attr': {'placeholder': 'Votre prénom', 'class': 'champ_class'}}) }} 
        </div>

        <div class="champs">
            {{ form_row(registerForm.password.first,  { 'attr': {'placeholder': 'Votre mot de passe', 'class': 'champ_class'}}) }}
        </div>
        
        <div class="champs">
            {{ form_row(registerForm.password.second,  { 'attr': {'placeholder': 'Vérifier votre mot de passe', 'class': 'champ_class'}}) }}
        </div>

        <div class="champs">
            {{ form_row(registerForm.adress,  { 'attr': {'placeholder': 'Votre adresse', 'class': 'champ_class'}}) }}
        </div>

        <div class="champs">
            {{ form_row(registerForm.postalCode,  { 'attr': {'placeholder': 'Votre code postal', 'class': 'champ_class'}}) }}
        </div>

        {{ form_row(registerForm.submit,  { 'attr': {'name': 'Valider', 'class': 'valider'}}) }}

    </div>
 {{ form_end(registerForm) }}

    <div id="halo"></div>
</div>
{% endblock %}



{% block javascripts %}

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
    <script type="text/javascript" src="{{ asset('js/address.js') }}"></script>

{% endblock %}


    
