{% extends "layouts/base.html.twig" %}

{# titre de la page dans head #}
{% block title %} Abonnement | Bdloc {% endblock %}   


{# contenu du body #}

{% block main_content %}
<div class="container">
	<div class="steps">
	    <ul class="stepsRegister">
	    	<li class="tab ok tab1"><a href="{{ path("bdloc_app_subscribe_registerstep1")}}">1. Infos personnelles</a></li>
	    	<li class="tab on tab2">2. Choisir un point relais</li>
	    	<li class="tab off tab3">3. Paiement</li>
	    </ul>
	</div>
	<div class="clearfix"></div>


	<div id="step2">	
		<div id="map" class="pull-left">
			{{ google_map_container(map) }}
			{{ google_map_css(map) }}
			{{ google_map_js(map) }}
		</div>

		<div id="adresseRelais" class="pull-left ">
			<h1>Point relais choisi</h1>
			{% if mydelivery is defined %}
				
				<p>{{ mydelivery.name }}</p>
				<p>{{ mydelivery.address }}</p>
				<p>{{ mydelivery.city ~ " " ~ mydelivery.postalCode }}</p>
				<br>

				<p>Horaires d'ouvertures :</p>
				<p>Ouvert du lundi au samedi</p>
				<p><strong>10:00 am - 19:30 pm</strong></p>
				<a href="{{ path("bdloc_app_subscribe_registerstep3") }}" id="stepbilling" class="btn btn-primary">Suivant</a>

			{% endif %}

		</div>
		<div class="clearfix"></div>
	</div>
</div>
{% endblock %}




    

